<h1>Sign Up</h1>


<form method="POST" action="/signup">
    <p>
        <div><label for="email">Email: </label></div>
        <input type="text" name="email" id="email">
    </p>
    
    <p>
        <div><label for="username">Username: </label></div>
        <input type="text" name="username" id="username">
    </p>

    <p>
        <div><label for="password">Password: </label></div>
        <input type="text" name="password" id="password">
    </p>
 

    <input type="submit" value="Sign In">
</form>